@font-face {
  font-family: "octicons";
  src: url('./octicons.woff2') format('woff2'),
  url('./octicons.woff') format('woff');
}

[class^="oi-"], [class*=" oi-"] {
  font-famiy: 'octicons' !important;font-size: undefined;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.oi-accessibility-16:before { content: "\ea01"; }
.oi-accessibility-24:before { content: "\ea02"; }
.oi-accessibility-inset-16:before { content: "\ea03"; }
.oi-accessibility-inset-24:before { content: "\ea04"; }
.oi-ai-model-16:before { content: "\ea05"; }
.oi-ai-model-24:before { content: "\ea06"; }
.oi-alert-16:before { content: "\ea07"; }
.oi-alert-24:before { content: "\ea08"; }
.oi-alert-fill-12:before { content: "\ea09"; }
.oi-alert-fill-16:before { content: "\ea0a"; }
.oi-alert-fill-24:before { content: "\ea0b"; }
.oi-apps-16:before { content: "\ea0c"; }
.oi-apps-24:before { content: "\ea0d"; }
.oi-archive-16:before { content: "\ea0e"; }
.oi-archive-24:before { content: "\ea0f"; }
.oi-arrow-both-16:before { content: "\ea10"; }
.oi-arrow-both-24:before { content: "\ea11"; }
.oi-arrow-down-16:before { content: "\ea12"; }
.oi-arrow-down-24:before { content: "\ea13"; }
.oi-arrow-down-left-16:before { content: "\ea14"; }
.oi-arrow-down-left-24:before { content: "\ea15"; }
.oi-arrow-down-right-16:before { content: "\ea16"; }
.oi-arrow-down-right-24:before { content: "\ea17"; }
.oi-arrow-left-16:before { content: "\ea18"; }
.oi-arrow-left-24:before { content: "\ea19"; }
.oi-arrow-right-16:before { content: "\ea1a"; }
.oi-arrow-right-24:before { content: "\ea1b"; }
.oi-arrow-switch-16:before { content: "\ea1c"; }
.oi-arrow-switch-24:before { content: "\ea1d"; }
.oi-arrow-up-16:before { content: "\ea1e"; }
.oi-arrow-up-24:before { content: "\ea1f"; }
.oi-arrow-up-left-16:before { content: "\ea20"; }
.oi-arrow-up-left-24:before { content: "\ea21"; }
.oi-arrow-up-right-16:before { content: "\ea22"; }
.oi-arrow-up-right-24:before { content: "\ea23"; }
.oi-beaker-16:before { content: "\ea24"; }
.oi-beaker-24:before { content: "\ea25"; }
.oi-bell-16:before { content: "\ea26"; }
.oi-bell-24:before { content: "\ea27"; }
.oi-bell-fill-16:before { content: "\ea28"; }
.oi-bell-fill-24:before { content: "\ea29"; }
.oi-bell-slash-16:before { content: "\ea2a"; }
.oi-bell-slash-24:before { content: "\ea2b"; }
.oi-blocked-16:before { content: "\ea2c"; }
.oi-blocked-24:before { content: "\ea2d"; }
.oi-bold-16:before { content: "\ea2e"; }
.oi-bold-24:before { content: "\ea2f"; }
.oi-book-16:before { content: "\ea30"; }
.oi-book-24:before { content: "\ea31"; }
.oi-bookmark-16:before { content: "\ea32"; }
.oi-bookmark-24:before { content: "\ea33"; }
.oi-bookmark-fill-24:before { content: "\ea34"; }
.oi-bookmark-filled-16:before { content: "\ea35"; }
.oi-bookmark-slash-16:before { content: "\ea36"; }
.oi-bookmark-slash-24:before { content: "\ea37"; }
.oi-bookmark-slash-fill-16:before { content: "\ea38"; }
.oi-bookmark-slash-fill-24:before { content: "\ea39"; }
.oi-briefcase-16:before { content: "\ea3a"; }
.oi-briefcase-24:before { content: "\ea3b"; }
.oi-broadcast-16:before { content: "\ea3c"; }
.oi-broadcast-24:before { content: "\ea3d"; }
.oi-browser-16:before { content: "\ea3e"; }
.oi-browser-24:before { content: "\ea3f"; }
.oi-bug-16:before { content: "\ea40"; }
.oi-bug-24:before { content: "\ea41"; }
.oi-cache-16:before { content: "\ea42"; }
.oi-cache-24:before { content: "\ea43"; }
.oi-calendar-16:before { content: "\ea44"; }
.oi-calendar-24:before { content: "\ea45"; }
.oi-check-16:before { content: "\ea46"; }
.oi-check-24:before { content: "\ea47"; }
.oi-check-circle-16:before { content: "\ea48"; }
.oi-check-circle-24:before { content: "\ea49"; }
.oi-check-circle-fill-12:before { content: "\ea4a"; }
.oi-check-circle-fill-16:before { content: "\ea4b"; }
.oi-check-circle-fill-24:before { content: "\ea4c"; }
.oi-checkbox-16:before { content: "\ea4d"; }
.oi-checkbox-24:before { content: "\ea4e"; }
.oi-checklist-16:before { content: "\ea4f"; }
.oi-checklist-24:before { content: "\ea50"; }
.oi-chevron-down-12:before { content: "\ea51"; }
.oi-chevron-down-16:before { content: "\ea52"; }
.oi-chevron-down-24:before { content: "\ea53"; }
.oi-chevron-left-12:before { content: "\ea54"; }
.oi-chevron-left-16:before { content: "\ea55"; }
.oi-chevron-left-24:before { content: "\ea56"; }
.oi-chevron-right-12:before { content: "\ea57"; }
.oi-chevron-right-16:before { content: "\ea58"; }
.oi-chevron-right-24:before { content: "\ea59"; }
.oi-chevron-up-12:before { content: "\ea5a"; }
.oi-chevron-up-16:before { content: "\ea5b"; }
.oi-chevron-up-24:before { content: "\ea5c"; }
.oi-circle-16:before { content: "\ea5d"; }
.oi-circle-24:before { content: "\ea5e"; }
.oi-circle-slash-16:before { content: "\ea5f"; }
.oi-circle-slash-24:before { content: "\ea60"; }
.oi-clock-16:before { content: "\ea61"; }
.oi-clock-24:before { content: "\ea62"; }
.oi-clock-fill-16:before { content: "\ea63"; }
.oi-clock-fill-24:before { content: "\ea64"; }
.oi-cloud-16:before { content: "\ea65"; }
.oi-cloud-24:before { content: "\ea66"; }
.oi-cloud-offline-16:before { content: "\ea67"; }
.oi-cloud-offline-24:before { content: "\ea68"; }
.oi-code-16:before { content: "\ea69"; }
.oi-code-24:before { content: "\ea6a"; }
.oi-code-of-conduct-16:before { content: "\ea6b"; }
.oi-code-of-conduct-24:before { content: "\ea6c"; }
.oi-code-review-16:before { content: "\ea6d"; }
.oi-code-review-24:before { content: "\ea6e"; }
.oi-code-square-16:before { content: "\ea6f"; }
.oi-code-square-24:before { content: "\ea70"; }
.oi-codescan-16:before { content: "\ea71"; }
.oi-codescan-24:before { content: "\ea72"; }
.oi-codescan-checkmark-16:before { content: "\ea73"; }
.oi-codescan-checkmark-24:before { content: "\ea74"; }
.oi-codespaces-16:before { content: "\ea75"; }
.oi-codespaces-24:before { content: "\ea76"; }
.oi-columns-16:before { content: "\ea77"; }
.oi-columns-24:before { content: "\ea78"; }
.oi-command-palette-16:before { content: "\ea79"; }
.oi-command-palette-24:before { content: "\ea7a"; }
.oi-comment-16:before { content: "\ea7b"; }
.oi-comment-24:before { content: "\ea7c"; }
.oi-comment-discussion-16:before { content: "\ea7d"; }
.oi-comment-discussion-24:before { content: "\ea7e"; }
.oi-container-16:before { content: "\ea7f"; }
.oi-container-24:before { content: "\ea80"; }
.oi-copilot-16:before { content: "\ea81"; }
.oi-copilot-24:before { content: "\ea82"; }
.oi-copilot-48:before { content: "\ea83"; }
.oi-copilot-96:before { content: "\ea84"; }
.oi-copilot-error-16:before { content: "\ea85"; }
.oi-copilot-warning-16:before { content: "\ea86"; }
.oi-copy-16:before { content: "\ea87"; }
.oi-copy-24:before { content: "\ea88"; }
.oi-cpu-16:before { content: "\ea89"; }
.oi-cpu-24:before { content: "\ea8a"; }
.oi-credit-card-16:before { content: "\ea8b"; }
.oi-credit-card-24:before { content: "\ea8c"; }
.oi-cross-reference-16:before { content: "\ea8d"; }
.oi-cross-reference-24:before { content: "\ea8e"; }
.oi-dash-16:before { content: "\ea8f"; }
.oi-dash-24:before { content: "\ea90"; }
.oi-database-16:before { content: "\ea91"; }
.oi-database-24:before { content: "\ea92"; }
.oi-dependabot-16:before { content: "\ea93"; }
.oi-dependabot-24:before { content: "\ea94"; }
.oi-desktop-download-16:before { content: "\ea95"; }
.oi-desktop-download-24:before { content: "\ea96"; }
.oi-device-camera-16:before { content: "\ea97"; }
.oi-device-camera-24:before { content: "\ea98"; }
.oi-device-camera-video-16:before { content: "\ea99"; }
.oi-device-camera-video-24:before { content: "\ea9a"; }
.oi-device-desktop-16:before { content: "\ea9b"; }
.oi-device-desktop-24:before { content: "\ea9c"; }
.oi-device-mobile-16:before { content: "\ea9d"; }
.oi-device-mobile-24:before { content: "\ea9e"; }
.oi-devices-16:before { content: "\ea9f"; }
.oi-devices-24:before { content: "\eaa0"; }
.oi-diamond-16:before { content: "\eaa1"; }
.oi-diamond-24:before { content: "\eaa2"; }
.oi-diff-16:before { content: "\eaa3"; }
.oi-diff-24:before { content: "\eaa4"; }
.oi-diff-added-16:before { content: "\eaa5"; }
.oi-diff-added-24:before { content: "\eaa6"; }
.oi-diff-ignored-16:before { content: "\eaa7"; }
.oi-diff-ignored-24:before { content: "\eaa8"; }
.oi-diff-modified-16:before { content: "\eaa9"; }
.oi-diff-modified-24:before { content: "\eaaa"; }
.oi-diff-removed-16:before { content: "\eaab"; }
.oi-diff-removed-24:before { content: "\eaac"; }
.oi-diff-renamed-16:before { content: "\eaad"; }
.oi-diff-renamed-24:before { content: "\eaae"; }
.oi-discussion-closed-16:before { content: "\eaaf"; }
.oi-discussion-closed-24:before { content: "\eab0"; }
.oi-discussion-duplicate-16:before { content: "\eab1"; }
.oi-discussion-duplicate-24:before { content: "\eab2"; }
.oi-discussion-outdated-16:before { content: "\eab3"; }
.oi-discussion-outdated-24:before { content: "\eab4"; }
.oi-dot-16:before { content: "\eab5"; }
.oi-dot-24:before { content: "\eab6"; }
.oi-dot-fill-16:before { content: "\eab7"; }
.oi-dot-fill-24:before { content: "\eab8"; }
.oi-download-16:before { content: "\eab9"; }
.oi-download-24:before { content: "\eaba"; }
.oi-duplicate-16:before { content: "\eabb"; }
.oi-duplicate-24:before { content: "\eabc"; }
.oi-ellipsis-16:before { content: "\eabd"; }
.oi-ellipsis-24:before { content: "\eabe"; }
.oi-eye-16:before { content: "\eabf"; }
.oi-eye-24:before { content: "\eac0"; }
.oi-eye-closed-16:before { content: "\eac1"; }
.oi-eye-closed-24:before { content: "\eac2"; }
.oi-feed-discussion-16:before { content: "\eac3"; }
.oi-feed-forked-16:before { content: "\eac4"; }
.oi-feed-heart-16:before { content: "\eac5"; }
.oi-feed-issue-closed-16:before { content: "\eac6"; }
.oi-feed-issue-draft-16:before { content: "\eac7"; }
.oi-feed-issue-open-16:before { content: "\eac8"; }
.oi-feed-issue-reopen-16:before { content: "\eac9"; }
.oi-feed-merged-16:before { content: "\eaca"; }
.oi-feed-person-16:before { content: "\eacb"; }
.oi-feed-plus-16:before { content: "\eacc"; }
.oi-feed-public-16:before { content: "\eacd"; }
.oi-feed-pull-request-closed-16:before { content: "\eace"; }
.oi-feed-pull-request-draft-16:before { content: "\eacf"; }
.oi-feed-pull-request-open-16:before { content: "\ead0"; }
.oi-feed-repo-16:before { content: "\ead1"; }
.oi-feed-rocket-16:before { content: "\ead2"; }
.oi-feed-star-16:before { content: "\ead3"; }
.oi-feed-tag-16:before { content: "\ead4"; }
.oi-feed-trophy-16:before { content: "\ead5"; }
.oi-file-16:before { content: "\ead6"; }
.oi-file-24:before { content: "\ead7"; }
.oi-file-added-16:before { content: "\ead8"; }
.oi-file-added-24:before { content: "\ead9"; }
.oi-file-badge-16:before { content: "\eada"; }
.oi-file-badge-24:before { content: "\eadb"; }
.oi-file-binary-16:before { content: "\eadc"; }
.oi-file-binary-24:before { content: "\eadd"; }
.oi-file-code-16:before { content: "\eade"; }
.oi-file-code-24:before { content: "\eadf"; }
.oi-file-diff-16:before { content: "\eae0"; }
.oi-file-diff-24:before { content: "\eae1"; }
.oi-file-directory-16:before { content: "\eae2"; }
.oi-file-directory-24:before { content: "\eae3"; }
.oi-file-directory-fill-16:before { content: "\eae4"; }
.oi-file-directory-fill-24:before { content: "\eae5"; }
.oi-file-directory-open-fill-16:before { content: "\eae6"; }
.oi-file-directory-open-fill-24:before { content: "\eae7"; }
.oi-file-directory-symlink-16:before { content: "\eae8"; }
.oi-file-directory-symlink-24:before { content: "\eae9"; }
.oi-file-media-16:before { content: "\eaea"; }
.oi-file-media-24:before { content: "\eaeb"; }
.oi-file-moved-16:before { content: "\eaec"; }
.oi-file-moved-24:before { content: "\eaed"; }
.oi-file-removed-16:before { content: "\eaee"; }
.oi-file-removed-24:before { content: "\eaef"; }
.oi-file-submodule-16:before { content: "\eaf0"; }
.oi-file-submodule-24:before { content: "\eaf1"; }
.oi-file-symlink-file-16:before { content: "\eaf2"; }
.oi-file-symlink-file-24:before { content: "\eaf3"; }
.oi-file-zip-16:before { content: "\eaf4"; }
.oi-file-zip-24:before { content: "\eaf5"; }
.oi-filter-16:before { content: "\eaf6"; }
.oi-filter-24:before { content: "\eaf7"; }
.oi-filter-remove-16:before { content: "\eaf8"; }
.oi-filter-remove-24:before { content: "\eaf9"; }
.oi-fiscal-host-16:before { content: "\eafa"; }
.oi-fiscal-host-24:before { content: "\eafb"; }
.oi-flame-16:before { content: "\eafc"; }
.oi-flame-24:before { content: "\eafd"; }
.oi-fold-16:before { content: "\eafe"; }
.oi-fold-24:before { content: "\eaff"; }
.oi-fold-down-16:before { content: "\eb00"; }
.oi-fold-down-24:before { content: "\eb01"; }
.oi-fold-up-16:before { content: "\eb02"; }
.oi-fold-up-24:before { content: "\eb03"; }
.oi-gear-16:before { content: "\eb04"; }
.oi-gear-24:before { content: "\eb05"; }
.oi-gift-16:before { content: "\eb06"; }
.oi-gift-24:before { content: "\eb07"; }
.oi-git-branch-16:before { content: "\eb08"; }
.oi-git-branch-24:before { content: "\eb09"; }
.oi-git-commit-16:before { content: "\eb0a"; }
.oi-git-commit-24:before { content: "\eb0b"; }
.oi-git-compare-16:before { content: "\eb0c"; }
.oi-git-compare-24:before { content: "\eb0d"; }
.oi-git-merge-16:before { content: "\eb0e"; }
.oi-git-merge-24:before { content: "\eb0f"; }
.oi-git-merge-queue-16:before { content: "\eb10"; }
.oi-git-merge-queue-24:before { content: "\eb11"; }
.oi-git-pull-request-16:before { content: "\eb12"; }
.oi-git-pull-request-24:before { content: "\eb13"; }
.oi-git-pull-request-closed-16:before { content: "\eb14"; }
.oi-git-pull-request-closed-24:before { content: "\eb15"; }
.oi-git-pull-request-draft-16:before { content: "\eb16"; }
.oi-git-pull-request-draft-24:before { content: "\eb17"; }
.oi-globe-16:before { content: "\eb18"; }
.oi-globe-24:before { content: "\eb19"; }
.oi-goal-16:before { content: "\eb1a"; }
.oi-goal-24:before { content: "\eb1b"; }
.oi-grabber-16:before { content: "\eb1c"; }
.oi-grabber-24:before { content: "\eb1d"; }
.oi-graph-16:before { content: "\eb1e"; }
.oi-graph-24:before { content: "\eb1f"; }
.oi-hash-16:before { content: "\eb20"; }
.oi-hash-24:before { content: "\eb21"; }
.oi-heading-16:before { content: "\eb22"; }
.oi-heading-24:before { content: "\eb23"; }
.oi-heart-16:before { content: "\eb24"; }
.oi-heart-24:before { content: "\eb25"; }
.oi-heart-fill-16:before { content: "\eb26"; }
.oi-heart-fill-24:before { content: "\eb27"; }
.oi-history-16:before { content: "\eb28"; }
.oi-history-24:before { content: "\eb29"; }
.oi-home-16:before { content: "\eb2a"; }
.oi-home-24:before { content: "\eb2b"; }
.oi-home-fill-16:before { content: "\eb2c"; }
.oi-home-fill-24:before { content: "\eb2d"; }
.oi-horizontal-rule-16:before { content: "\eb2e"; }
.oi-horizontal-rule-24:before { content: "\eb2f"; }
.oi-hourglass-16:before { content: "\eb30"; }
.oi-hourglass-24:before { content: "\eb31"; }
.oi-hubot-16:before { content: "\eb32"; }
.oi-hubot-24:before { content: "\eb33"; }
.oi-id-badge-16:before { content: "\eb34"; }
.oi-id-badge-24:before { content: "\eb35"; }
.oi-image-16:before { content: "\eb36"; }
.oi-image-24:before { content: "\eb37"; }
.oi-inbox-16:before { content: "\eb38"; }
.oi-inbox-24:before { content: "\eb39"; }
.oi-infinity-16:before { content: "\eb3a"; }
.oi-infinity-24:before { content: "\eb3b"; }
.oi-info-16:before { content: "\eb3c"; }
.oi-info-24:before { content: "\eb3d"; }
.oi-issue-closed-16:before { content: "\eb3e"; }
.oi-issue-closed-24:before { content: "\eb3f"; }
.oi-issue-draft-16:before { content: "\eb40"; }
.oi-issue-draft-24:before { content: "\eb41"; }
.oi-issue-opened-16:before { content: "\eb42"; }
.oi-issue-opened-24:before { content: "\eb43"; }
.oi-issue-reopened-16:before { content: "\eb44"; }
.oi-issue-reopened-24:before { content: "\eb45"; }
.oi-issue-tracked-by-16:before { content: "\eb46"; }
.oi-issue-tracked-by-24:before { content: "\eb47"; }
.oi-issue-tracks-16:before { content: "\eb48"; }
.oi-issue-tracks-24:before { content: "\eb49"; }
.oi-italic-16:before { content: "\eb4a"; }
.oi-italic-24:before { content: "\eb4b"; }
.oi-iterations-16:before { content: "\eb4c"; }
.oi-iterations-24:before { content: "\eb4d"; }
.oi-kebab-horizontal-16:before { content: "\eb4e"; }
.oi-kebab-horizontal-24:before { content: "\eb4f"; }
.oi-key-16:before { content: "\eb50"; }
.oi-key-24:before { content: "\eb51"; }
.oi-key-asterisk-16:before { content: "\eb52"; }
.oi-key-asterisk-24:before { content: "\eb53"; }
.oi-law-16:before { content: "\eb54"; }
.oi-law-24:before { content: "\eb55"; }
.oi-light-bulb-16:before { content: "\eb56"; }
.oi-light-bulb-24:before { content: "\eb57"; }
.oi-link-16:before { content: "\eb58"; }
.oi-link-24:before { content: "\eb59"; }
.oi-link-external-16:before { content: "\eb5a"; }
.oi-link-external-24:before { content: "\eb5b"; }
.oi-list-ordered-16:before { content: "\eb5c"; }
.oi-list-ordered-24:before { content: "\eb5d"; }
.oi-list-unordered-16:before { content: "\eb5e"; }
.oi-list-unordered-24:before { content: "\eb5f"; }
.oi-location-16:before { content: "\eb60"; }
.oi-location-24:before { content: "\eb61"; }
.oi-lock-16:before { content: "\eb62"; }
.oi-lock-24:before { content: "\eb63"; }
.oi-log-16:before { content: "\eb64"; }
.oi-log-24:before { content: "\eb65"; }
.oi-logo-gist-16:before { content: "\eb66"; }
.oi-logo-gist-24:before { content: "\eb67"; }
.oi-logo-github-16:before { content: "\eb68"; }
.oi-logo-github-24:before { content: "\eb69"; }
.oi-mail-16:before { content: "\eb6a"; }
.oi-mail-24:before { content: "\eb6b"; }
.oi-mark-github-16:before { content: "\eb6c"; }
.oi-mark-github-24:before { content: "\eb6d"; }
.oi-markdown-16:before { content: "\eb6e"; }
.oi-markdown-24:before { content: "\eb6f"; }
.oi-megaphone-16:before { content: "\eb70"; }
.oi-megaphone-24:before { content: "\eb71"; }
.oi-mention-16:before { content: "\eb72"; }
.oi-mention-24:before { content: "\eb73"; }
.oi-meter-16:before { content: "\eb74"; }
.oi-meter-24:before { content: "\eb75"; }
.oi-milestone-16:before { content: "\eb76"; }
.oi-milestone-24:before { content: "\eb77"; }
.oi-mirror-16:before { content: "\eb78"; }
.oi-mirror-24:before { content: "\eb79"; }
.oi-moon-16:before { content: "\eb7a"; }
.oi-moon-24:before { content: "\eb7b"; }
.oi-mortar-board-16:before { content: "\eb7c"; }
.oi-mortar-board-24:before { content: "\eb7d"; }
.oi-move-to-bottom-16:before { content: "\eb7e"; }
.oi-move-to-bottom-24:before { content: "\eb7f"; }
.oi-move-to-end-16:before { content: "\eb80"; }
.oi-move-to-end-24:before { content: "\eb81"; }
.oi-move-to-start-16:before { content: "\eb82"; }
.oi-move-to-start-24:before { content: "\eb83"; }
.oi-move-to-top-16:before { content: "\eb84"; }
.oi-move-to-top-24:before { content: "\eb85"; }
.oi-multi-select-16:before { content: "\eb86"; }
.oi-multi-select-24:before { content: "\eb87"; }
.oi-mute-16:before { content: "\eb88"; }
.oi-mute-24:before { content: "\eb89"; }
.oi-no-entry-16:before { content: "\eb8a"; }
.oi-no-entry-24:before { content: "\eb8b"; }
.oi-no-entry-fill-12:before { content: "\eb8c"; }
.oi-north-star-16:before { content: "\eb8d"; }
.oi-north-star-24:before { content: "\eb8e"; }
.oi-note-16:before { content: "\eb8f"; }
.oi-note-24:before { content: "\eb90"; }
.oi-number-16:before { content: "\eb91"; }
.oi-number-24:before { content: "\eb92"; }
.oi-organization-16:before { content: "\eb93"; }
.oi-organization-24:before { content: "\eb94"; }
.oi-package-16:before { content: "\eb95"; }
.oi-package-24:before { content: "\eb96"; }
.oi-package-dependencies-16:before { content: "\eb97"; }
.oi-package-dependencies-24:before { content: "\eb98"; }
.oi-package-dependents-16:before { content: "\eb99"; }
.oi-package-dependents-24:before { content: "\eb9a"; }
.oi-paintbrush-16:before { content: "\eb9b"; }
.oi-paintbrush-24:before { content: "\eb9c"; }
.oi-paper-airplane-16:before { content: "\eb9d"; }
.oi-paper-airplane-24:before { content: "\eb9e"; }
.oi-paperclip-16:before { content: "\eb9f"; }
.oi-paperclip-24:before { content: "\eba0"; }
.oi-passkey-fill-16:before { content: "\eba1"; }
.oi-passkey-fill-24:before { content: "\eba2"; }
.oi-paste-16:before { content: "\eba3"; }
.oi-paste-24:before { content: "\eba4"; }
.oi-pencil-16:before { content: "\eba5"; }
.oi-pencil-24:before { content: "\eba6"; }
.oi-people-16:before { content: "\eba7"; }
.oi-people-24:before { content: "\eba8"; }
.oi-person-16:before { content: "\eba9"; }
.oi-person-24:before { content: "\ebaa"; }
.oi-person-add-16:before { content: "\ebab"; }
.oi-person-add-24:before { content: "\ebac"; }
.oi-person-fill-16:before { content: "\ebad"; }
.oi-person-fill-24:before { content: "\ebae"; }
.oi-pin-16:before { content: "\ebaf"; }
.oi-pin-24:before { content: "\ebb0"; }
.oi-pin-slash-16:before { content: "\ebb1"; }
.oi-pin-slash-24:before { content: "\ebb2"; }
.oi-pivot-column-16:before { content: "\ebb3"; }
.oi-pivot-column-24:before { content: "\ebb4"; }
.oi-play-16:before { content: "\ebb5"; }
.oi-play-24:before { content: "\ebb6"; }
.oi-plug-16:before { content: "\ebb7"; }
.oi-plug-24:before { content: "\ebb8"; }
.oi-plus-16:before { content: "\ebb9"; }
.oi-plus-24:before { content: "\ebba"; }
.oi-plus-circle-16:before { content: "\ebbb"; }
.oi-plus-circle-24:before { content: "\ebbc"; }
.oi-project-16:before { content: "\ebbd"; }
.oi-project-24:before { content: "\ebbe"; }
.oi-project-roadmap-16:before { content: "\ebbf"; }
.oi-project-roadmap-24:before { content: "\ebc0"; }
.oi-project-symlink-16:before { content: "\ebc1"; }
.oi-project-symlink-24:before { content: "\ebc2"; }
.oi-project-template-16:before { content: "\ebc3"; }
.oi-project-template-24:before { content: "\ebc4"; }
.oi-pulse-16:before { content: "\ebc5"; }
.oi-pulse-24:before { content: "\ebc6"; }
.oi-question-16:before { content: "\ebc7"; }
.oi-question-24:before { content: "\ebc8"; }
.oi-quote-16:before { content: "\ebc9"; }
.oi-quote-24:before { content: "\ebca"; }
.oi-read-16:before { content: "\ebcb"; }
.oi-read-24:before { content: "\ebcc"; }
.oi-redo-16:before { content: "\ebcd"; }
.oi-redo-24:before { content: "\ebce"; }
.oi-rel-file-path-16:before { content: "\ebcf"; }
.oi-rel-file-path-24:before { content: "\ebd0"; }
.oi-reply-16:before { content: "\ebd1"; }
.oi-reply-24:before { content: "\ebd2"; }
.oi-repo-16:before { content: "\ebd3"; }
.oi-repo-24:before { content: "\ebd4"; }
.oi-repo-clone-16:before { content: "\ebd5"; }
.oi-repo-clone-24:before { content: "\ebd6"; }
.oi-repo-delete-24:before { content: "\ebd7"; }
.oi-repo-deleted-16:before { content: "\ebd8"; }
.oi-repo-forked-16:before { content: "\ebd9"; }
.oi-repo-forked-24:before { content: "\ebda"; }
.oi-repo-locked-16:before { content: "\ebdb"; }
.oi-repo-locked-24:before { content: "\ebdc"; }
.oi-repo-pull-16:before { content: "\ebdd"; }
.oi-repo-pull-24:before { content: "\ebde"; }
.oi-repo-push-16:before { content: "\ebdf"; }
.oi-repo-push-24:before { content: "\ebe0"; }
.oi-repo-template-16:before { content: "\ebe1"; }
.oi-repo-template-24:before { content: "\ebe2"; }
.oi-report-16:before { content: "\ebe3"; }
.oi-report-24:before { content: "\ebe4"; }
.oi-rocket-16:before { content: "\ebe5"; }
.oi-rocket-24:before { content: "\ebe6"; }
.oi-rows-16:before { content: "\ebe7"; }
.oi-rows-24:before { content: "\ebe8"; }
.oi-rss-16:before { content: "\ebe9"; }
.oi-rss-24:before { content: "\ebea"; }
.oi-ruby-16:before { content: "\ebeb"; }
.oi-ruby-24:before { content: "\ebec"; }
.oi-screen-full-16:before { content: "\ebed"; }
.oi-screen-full-24:before { content: "\ebee"; }
.oi-screen-normal-16:before { content: "\ebef"; }
.oi-screen-normal-24:before { content: "\ebf0"; }
.oi-search-16:before { content: "\ebf1"; }
.oi-search-24:before { content: "\ebf2"; }
.oi-server-16:before { content: "\ebf3"; }
.oi-server-24:before { content: "\ebf4"; }
.oi-share-16:before { content: "\ebf5"; }
.oi-share-24:before { content: "\ebf6"; }
.oi-share-android-16:before { content: "\ebf7"; }
.oi-share-android-24:before { content: "\ebf8"; }
.oi-shield-16:before { content: "\ebf9"; }
.oi-shield-24:before { content: "\ebfa"; }
.oi-shield-check-16:before { content: "\ebfb"; }
.oi-shield-check-24:before { content: "\ebfc"; }
.oi-shield-lock-16:before { content: "\ebfd"; }
.oi-shield-lock-24:before { content: "\ebfe"; }
.oi-shield-slash-16:before { content: "\ebff"; }
.oi-shield-slash-24:before { content: "\ec00"; }
.oi-shield-x-16:before { content: "\ec01"; }
.oi-shield-x-24:before { content: "\ec02"; }
.oi-sidebar-collapse-16:before { content: "\ec03"; }
.oi-sidebar-collapse-24:before { content: "\ec04"; }
.oi-sidebar-expand-16:before { content: "\ec05"; }
.oi-sidebar-expand-24:before { content: "\ec06"; }
.oi-sign-in-16:before { content: "\ec07"; }
.oi-sign-in-24:before { content: "\ec08"; }
.oi-sign-out-16:before { content: "\ec09"; }
.oi-sign-out-24:before { content: "\ec0a"; }
.oi-single-select-16:before { content: "\ec0b"; }
.oi-single-select-24:before { content: "\ec0c"; }
.oi-skip-16:before { content: "\ec0d"; }
.oi-skip-24:before { content: "\ec0e"; }
.oi-skip-fill-16:before { content: "\ec0f"; }
.oi-skip-fill-24:before { content: "\ec10"; }
.oi-sliders-16:before { content: "\ec11"; }
.oi-sliders-24:before { content: "\ec12"; }
.oi-smiley-16:before { content: "\ec13"; }
.oi-smiley-24:before { content: "\ec14"; }
.oi-sort-asc-16:before { content: "\ec15"; }
.oi-sort-asc-24:before { content: "\ec16"; }
.oi-sort-desc-16:before { content: "\ec17"; }
.oi-sort-desc-24:before { content: "\ec18"; }
.oi-sparkle-fill-16:before { content: "\ec19"; }
.oi-sparkle-fill-24:before { content: "\ec1a"; }
.oi-sparkles-fill-16:before { content: "\ec1b"; }
.oi-sparkles-fill-24:before { content: "\ec1c"; }
.oi-sponsor-tiers-16:before { content: "\ec1d"; }
.oi-sponsor-tiers-24:before { content: "\ec1e"; }
.oi-square-16:before { content: "\ec1f"; }
.oi-square-24:before { content: "\ec20"; }
.oi-square-circle-16:before { content: "\ec21"; }
.oi-square-circle-24:before { content: "\ec22"; }
.oi-square-fill-16:before { content: "\ec23"; }
.oi-square-fill-24:before { content: "\ec24"; }
.oi-squirrel-16:before { content: "\ec25"; }
.oi-squirrel-24:before { content: "\ec26"; }
.oi-stack-16:before { content: "\ec27"; }
.oi-stack-24:before { content: "\ec28"; }
.oi-star-16:before { content: "\ec29"; }
.oi-star-24:before { content: "\ec2a"; }
.oi-star-fill-16:before { content: "\ec2b"; }
.oi-star-fill-24:before { content: "\ec2c"; }
.oi-stop-16:before { content: "\ec2d"; }
.oi-stop-24:before { content: "\ec2e"; }
.oi-stopwatch-16:before { content: "\ec2f"; }
.oi-stopwatch-24:before { content: "\ec30"; }
.oi-strikethrough-16:before { content: "\ec31"; }
.oi-strikethrough-24:before { content: "\ec32"; }
.oi-sun-16:before { content: "\ec33"; }
.oi-sun-24:before { content: "\ec34"; }
.oi-sync-16:before { content: "\ec35"; }
.oi-sync-24:before { content: "\ec36"; }
.oi-tab-16:before { content: "\ec37"; }
.oi-tab-24:before { content: "\ec38"; }
.oi-tab-external-16:before { content: "\ec39"; }
.oi-tab-external-24:before { content: "\ec3a"; }
.oi-table-16:before { content: "\ec3b"; }
.oi-table-24:before { content: "\ec3c"; }
.oi-tag-16:before { content: "\ec3d"; }
.oi-tag-24:before { content: "\ec3e"; }
.oi-tasklist-16:before { content: "\ec3f"; }
.oi-tasklist-24:before { content: "\ec40"; }
.oi-telescope-16:before { content: "\ec41"; }
.oi-telescope-24:before { content: "\ec42"; }
.oi-telescope-fill-16:before { content: "\ec43"; }
.oi-telescope-fill-24:before { content: "\ec44"; }
.oi-terminal-16:before { content: "\ec45"; }
.oi-terminal-24:before { content: "\ec46"; }
.oi-three-bars-16:before { content: "\ec47"; }
.oi-three-bars-24:before { content: "\ec48"; }
.oi-thumbsdown-16:before { content: "\ec49"; }
.oi-thumbsdown-24:before { content: "\ec4a"; }
.oi-thumbsup-16:before { content: "\ec4b"; }
.oi-thumbsup-24:before { content: "\ec4c"; }
.oi-tools-16:before { content: "\ec4d"; }
.oi-tools-24:before { content: "\ec4e"; }
.oi-tracked-by-closed-completed-16:before { content: "\ec4f"; }
.oi-tracked-by-closed-completed-24:before { content: "\ec50"; }
.oi-tracked-by-closed-not-planned-16:before { content: "\ec51"; }
.oi-tracked-by-closed-not-planned-24:before { content: "\ec52"; }
.oi-trash-16:before { content: "\ec53"; }
.oi-trash-24:before { content: "\ec54"; }
.oi-triangle-down-16:before { content: "\ec55"; }
.oi-triangle-down-24:before { content: "\ec56"; }
.oi-triangle-left-16:before { content: "\ec57"; }
.oi-triangle-left-24:before { content: "\ec58"; }
.oi-triangle-right-16:before { content: "\ec59"; }
.oi-triangle-right-24:before { content: "\ec5a"; }
.oi-triangle-up-16:before { content: "\ec5b"; }
.oi-triangle-up-24:before { content: "\ec5c"; }
.oi-trophy-16:before { content: "\ec5d"; }
.oi-trophy-24:before { content: "\ec5e"; }
.oi-typography-16:before { content: "\ec5f"; }
.oi-typography-24:before { content: "\ec60"; }
.oi-undo-16:before { content: "\ec61"; }
.oi-undo-24:before { content: "\ec62"; }
.oi-unfold-16:before { content: "\ec63"; }
.oi-unfold-24:before { content: "\ec64"; }
.oi-unlink-16:before { content: "\ec65"; }
.oi-unlink-24:before { content: "\ec66"; }
.oi-unlock-16:before { content: "\ec67"; }
.oi-unlock-24:before { content: "\ec68"; }
.oi-unmute-16:before { content: "\ec69"; }
.oi-unmute-24:before { content: "\ec6a"; }
.oi-unread-16:before { content: "\ec6b"; }
.oi-unread-24:before { content: "\ec6c"; }
.oi-unverified-16:before { content: "\ec6d"; }
.oi-unverified-24:before { content: "\ec6e"; }
.oi-upload-16:before { content: "\ec6f"; }
.oi-upload-24:before { content: "\ec70"; }
.oi-verified-16:before { content: "\ec71"; }
.oi-verified-24:before { content: "\ec72"; }
.oi-versions-16:before { content: "\ec73"; }
.oi-versions-24:before { content: "\ec74"; }
.oi-video-16:before { content: "\ec75"; }
.oi-video-24:before { content: "\ec76"; }
.oi-webhook-16:before { content: "\ec77"; }
.oi-workflow-16:before { content: "\ec78"; }
.oi-workflow-24:before { content: "\ec79"; }
.oi-x-12:before { content: "\ec7a"; }
.oi-x-16:before { content: "\ec7b"; }
.oi-x-24:before { content: "\ec7c"; }
.oi-x-circle-16:before { content: "\ec7d"; }
.oi-x-circle-24:before { content: "\ec7e"; }
.oi-x-circle-fill-12:before { content: "\ec7f"; }
.oi-x-circle-fill-16:before { content: "\ec80"; }
.oi-x-circle-fill-24:before { content: "\ec81"; }
.oi-zap-16:before { content: "\ec82"; }
.oi-zap-24:before { content: "\ec83"; }
.oi-zoom-in-16:before { content: "\ec84"; }
.oi-zoom-in-24:before { content: "\ec85"; }
.oi-zoom-out-16:before { content: "\ec86"; }
.oi-zoom-out-24:before { content: "\ec87"; }


